{:company/legal-name "Eastman Chemical Company"
 :company/lei "FDPVHDGJ1IQZFK9KH630"
 :company/jurisdiction "US-DE"
 :company/website "https://www.eastman.com"
 :company/ticker "EMN (NYSE)"
 :company/inquiry-form-url "https://www.eastman.com/en/contact-us"}
